$v-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$v-font-size: 15px;
$v-border-radius: 2px;
$v-unit-size: 30px;
$v-layout-spacing-horizontal: 15px;
$v-layout-spacing-vertical: 15px;
$v-layout-margin-right: 10px;
$v-layout-margin-left: 10px;
$v-layout-margin-top: 20px;
$v-layout-margin-bottom: 10px;
$v-focus-color: #50a2f5;
$v-app-background-color: #ffffff;

@import "../valo/valo.scss";

/* This contains all of your theme. */
@mixin mytheme {
 
  @include valo;

  /* Insert your theme rules here */
  .v-caption  {
    font-weight: inherit;
  }

  .v-textfield {
    height: 30px !important;
  }
}